/* Write your CSS code here */
.list-container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-bottom: 18px;
}
.image-container {
  margin-right: 10px;
}
.img {
  height: 180px;
  width: 300px;
}

.grey-text {
  color: #8e8e8e;
  font-family: 'Roboto';
}
.title-text {
  color: #000000;
  font-family: 'Roboto';
  font-weight: bold;
}
.author-image {
  height: 32px;
  border-radius: 50px;
  margin-right: 16px;
}
.author-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}
