/* Write your CSS code here */
.profile {
  height: 50px;
}
.profile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.blog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blog-image {
  height: 500px;
  width: 800px;
}
